/* ========================================================================
   Component: layout
 ========================================================================== */
/* line 56, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
body,
.wrapper > section {
  background-color: #f5f7fa;
}

/* line 60, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.wrapper > .aside {
  background-color: #fff;
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
/* line 70, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar {
  background-color: #fff;
}
/* line 72, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
  background-image: -o-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
  background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF37BC9B', endColorstr='#FF58CEB1', GradientType=1);
}
@media only screen and (min-width: 768px) {
  /* line 72, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
  .topnavbar .navbar-header {
    background-image: none;
  }
}
/* line 79, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .navbar-nav > li > .navbar-text {
  color: #37bc9b;
}
/* line 82, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #37bc9b;
}
/* line 85, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .open > a:focus {
  color: #206d5a;
}
/* line 93, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
/* line 99, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff;
}
/* line 103, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.topnavbar .nav-wrapper {
  background-color: #37bc9b;
  background-image: -webkit-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
  background-image: -o-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
  background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF37BC9B', endColorstr='#FF58CEB1', GradientType=1);
}

@media only screen and (min-width: 768px) {
  /* line 115, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
  .topnavbar {
    background-color: #37bc9b;
    background-image: -webkit-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
    background-image: -o-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
    background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF37BC9B', endColorstr='#FF58CEB1', GradientType=1);
  }
  /* line 120, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
  .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  /* line 124, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff;
  }
  /* line 127, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  /* line 130, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
  .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #206d5a;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
/* line 143, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar {
  background-color: #fff;
}
/* line 146, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav-heading {
  color: #919DA8;
}
/* line 153, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #515253;
}
/* line 156, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > .nav-item:hover {
  color: #37bc9b;
}
/* line 160, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
/* line 168, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav > li.active,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active .nav, .sidebar .nav > li.open,
.sidebar .nav > li.open > a,
.sidebar .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #37bc9b;
}
/* line 174, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav > li.active > a > em, .sidebar .nav > li.open > a > em {
  color: #37bc9b;
}
/* line 178, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar .nav > li.active {
  border-left-color: #37bc9b;
}

/* line 185, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar-subnav {
  background-color: #fff;
}
/* line 187, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
}
/* line 191, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #515253;
}
/* line 194, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > .nav-item:hover {
  color: #37bc9b;
}
/* line 200, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #37bc9b;
}
/* line 203, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #37bc9b;
  background-color: #37bc9b;
}

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
/* line 216, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-b.scss */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #515253;
}
