/* ========================================================================
   Component: layout
 ========================================================================== */
/* line 57, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
body,
.wrapper > section {
  background-color: #f5f7fa;
}

/* line 61, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.wrapper > .aside {
  background-color: #3a3f51;
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
/* line 72, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar {
  background-color: #fff;
}
/* line 74, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: -o-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1797BE', endColorstr='#FF23B7E5', GradientType=1);
}
@media only screen and (min-width: 768px) {
  /* line 74, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
  .topnavbar .navbar-header {
    background-image: none;
  }
}
/* line 81, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .navbar-nav > li > .navbar-text {
  color: #1797be;
}
/* line 84, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #1797be;
}
/* line 87, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .open > a:focus {
  color: #0c4f63;
}
/* line 95, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
/* line 101, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff;
}
/* line 105, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.topnavbar .nav-wrapper {
  background-color: #1797be;
  background-image: -webkit-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: -o-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1797BE', endColorstr='#FF23B7E5', GradientType=1);
}

@media only screen and (min-width: 768px) {
  /* line 117, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
  .topnavbar {
    background-color: #1797be;
    background-image: -webkit-linear-gradient(left, #1797be 0%, #23b7e5 100%);
    background-image: -o-linear-gradient(left, #1797be 0%, #23b7e5 100%);
    background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1797BE', endColorstr='#FF23B7E5', GradientType=1);
  }
  /* line 122, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
  .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  /* line 126, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff;
  }
  /* line 129, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  /* line 132, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
  .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #0c4f63;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
/* line 145, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar {
  background-color: #3a3f51;
}
/* line 148, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav-heading {
  color: #919DA8;
}
/* line 155, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #e1e2e3;
}
/* line 158, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > .nav-item:hover {
  color: #1797be;
}
/* line 162, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
/* line 170, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav > li.active,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active .nav, .sidebar .nav > li.open,
.sidebar .nav > li.open > a,
.sidebar .nav > li.open .nav {
  background-color: #383d4e;
  color: #1797be;
}
/* line 176, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav > li.active > a > em, .sidebar .nav > li.open > a > em {
  color: #1797be;
}
/* line 180, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar .nav > li.active {
  border-left-color: #1797be;
}

/* line 187, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar-subnav {
  background-color: #3a3f51;
}
/* line 189, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar-subnav > .sidebar-subnav-header {
  color: #e1e2e3;
}
/* line 193, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #e1e2e3;
}
/* line 196, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > .nav-item:hover {
  color: #1797be;
}
/* line 202, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #1797be;
}
/* line 205, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #1797be;
  background-color: #1797be;
}

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
/* line 219, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-e.scss */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #515253;
}
