/* ========================================================================
   Component: layout
 ========================================================================== */
/* line 56, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
body,
.wrapper > section {
  background-color: #f5f7fa;
}

/* line 60, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.wrapper > .aside {
  background-color: #fff;
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
/* line 71, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar {
  background-color: #fff;
}
/* line 73, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF23B7E5', endColorstr='#FF51C6EA', GradientType=1);
}
@media only screen and (min-width: 768px) {
  /* line 73, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
  .topnavbar .navbar-header {
    background-image: none;
  }
}
/* line 80, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .navbar-nav > li > .navbar-text {
  color: #23b7e5;
}
/* line 83, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #23b7e5;
}
/* line 86, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .open > a:focus {
  color: #117391;
}
/* line 94, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
/* line 100, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff;
}
/* line 104, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.topnavbar .nav-wrapper {
  background-color: #23b7e5;
  background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF23B7E5', endColorstr='#FF51C6EA', GradientType=1);
}

@media only screen and (min-width: 768px) {
  /* line 116, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
  .topnavbar {
    background-color: #23b7e5;
    background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
    background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
    background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF23B7E5', endColorstr='#FF51C6EA', GradientType=1);
  }
  /* line 121, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
  .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  /* line 125, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff;
  }
  /* line 128, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  /* line 131, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
  .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #117391;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
/* line 144, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar {
  background-color: #fff;
}
/* line 147, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav-heading {
  color: #919DA8;
}
/* line 154, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #515253;
}
/* line 157, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > .nav-item:hover {
  color: #23b7e5;
}
/* line 161, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
/* line 169, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav > li.active,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active .nav, .sidebar .nav > li.open,
.sidebar .nav > li.open > a,
.sidebar .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #23b7e5;
}
/* line 175, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav > li.active > a > em, .sidebar .nav > li.open > a > em {
  color: #23b7e5;
}
/* line 179, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar .nav > li.active {
  border-left-color: #23b7e5;
}

/* line 186, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar-subnav {
  background-color: #fff;
}
/* line 188, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
}
/* line 192, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #515253;
}
/* line 195, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > .nav-item:hover {
  color: #23b7e5;
}
/* line 201, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #23b7e5;
}
/* line 204, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #23b7e5;
  background-color: #23b7e5;
}

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
/* line 217, /private/var/projects/illroot-admin/app/assets/stylesheets/angle/themes/theme-a.scss */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #515253;
}
