<h3>
  Posts
  <%= link_to 'New', new_post_path, :class => "pull-right mb-sm btn btn-primary" %>
</h3>
<div class="panel panel-default">
   <div class="panel-heading">List of Posts</div>
   <div class="table-responsive">
    <table id="table-ext-1" class="table table-bordered table-hover">
      <thead>
        <colgroup>
          <col width="80">
          <col>
          <col>
          <col width="80">
          <col width="30">
          <col width="30">
          <col width="30">
        </colgroup>
        <tr>
          <th>Id</th>
          <th>Link</th>
          <th>Title</th>
          <th>Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      </tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.link %></td>
          <td><%= post.title %></td>
          <td>
            <% if post.image %>
              Has image
            <% end %>
          </td>
          <td><%= link_to 'Detail', post_path( post ), :class => "mb-sm btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_post_path( post ), :class => "mb-sm btn btn-primary" %></td>
          <td><%= button_to 'Delete', post_path( post ), :confirm => 'Are you sure?', :method => :delete, :class => "mb-sm btn btn-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>