<h3>
  Post
  <%= link_to 'Back', posts_path, :class => "pull-right mb-sm btn btn-primary" %>
</h3>

<div class="container-fluid">
  <!-- START row-->
  <div class="row">
    <div class="col-lg-12">
       <!-- START panel-->
       <div id="panelDemo1" class="panel panel-default">
          <div class="panel-heading"><%= @post.title %>
             <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
                <em class="fa fa-minus"></em>
             </a>
          </div>
        <div class="panel-wrapper collapse in">
             <div class="panel-body">
                <p>
                  <b>Link:</b>
                  <iframe width='100%' height='300' src="<%= @post.link %>" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                  <img src="<%= @images[0]['url']%>" />
                </p>
             </div>
             <div class="panel-footer"></div>
          </div>
       </div>
       <!-- END panel-->
    </div>
  </div>
</div>
